*{
    margin: 0;
    padding: 0;
}

body{
    background: black;
    max-width: 100%;
}

img{
    width: 80px;
    height: 80px;
}

p{
    text-align: center;
    border: 1px solid white;
}

iframe{
    align-content: center;
    padding-inline: 17%;
    margin-top: 5%;
}

button{
    width: 110px;
    height: 110px;
    border-radius: 5px;
}
